<app-header></app-header>

<div>
    <div class="container text-center">
        <h2>About Us</h2>
        <div>
            <h6>
                Quick to do website has been developed with the intention of organising tasks
                and providing facilities to the users to create, delete, update tasks.
                This website is created as a course-academic project.
                The website uses Angular framework for frontend and spring-boot framework
                for backend. It uses mysql database for storing user data.
                This website is created under the guidance of Mr. Govind pandit. 
            </h6>
        </div>
    </div>

    <div class="container text-center">
        <h2>Contact Us</h2>
        <div>
            <p>Email: quicktodo@gmail.com</p>
            <p>Toll free number: 1800 1567 1572</p>
            <p>Facebook: www.facebook.com/quicktodo</p>
            <p>Tweeter: www.tweeter.com/quicktodo</p>
        </div>
        
    </div>
</div>